**/bin
**/obj
.dockerignore
.env
.git
.gitignore
.vs
.vscode
**/.toolstarget
.idea
**/.classpath
**/.project
**/.settings
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
node_modules
infra
test